@use 'var';

.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        margin-top: 64px;

        @media (max-width: 768px) {
            display: block;
        }

        &__item{
            text-align: center;
            list-style: none;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;

            @media (max-width: 768px) {
                padding: 0 0 40px;
            }

            &:nth-child(2) {
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
            }

            .button {
                margin-top: 24px;
                margin-bottom: 8px;
            }

            img {
                height: 83px;
            }

            strong {
                display: block;
                margin-top: 24px;
            }
        }
    }

    p {
        text-align: center;
    }
}